<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main application</title>
</head>
<body>
    <h1 th:text="'Main application page'"> Header </h1>
    <a href="admin/index.html"> Click here to go to admin page</a> <br><br>
    <p> The links below show information in JSON format. </p> <br>
    <a href="products"> Click here to see the product page!</a> <br>
    <a href="product/1"> Here you can see the first product added!</a>
</body>
</html>